@model IEnumerable<ProjetoDeBloco_FimDeSemana.Models.Cardapio>

@{
    ViewData["Title"] = "Todos os Cardápios";
}

<h1>Todos os Cardápios</h1>

<p>
    <a asp-action="Create">Adicionar Cardápio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Eventos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Titulo)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
